html, body {
  font-family: 'Bungee Inline', sans-serif;
  color: #0C77F8;
  font-size: 18px;
}

html, body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee Inline', sans-serif;
  text-align: center;
  padding: 1rem 0;
  margin-top: 0;
  font-weight: 400;
}

button, p {
  font-family: 'Bungee Inline', sans-serif;
  font-weight: 400;
}

.title {
  margin-bottom: 0;
  padding: 2rem 0 4rem 0;
}

.content {
  padding: 3rem 0;
}

.black-font {
  color: #262835;
}
.blue-font {
  color: #0C77F8;
}
.red-font {
  color: #e62249;
}
.green-font {
  color: #20BF55;
}
.purple-font {
  color: #5438DC;
}
.pink-font {
  color: #ED5F70;
}
.yellow-font {
  color: #FFC65F;
}
.black-back {
  background-color: #262835;
  color: #fff;
}
.blue-back {
  background-color: #0C77F8;
  color: #fff;
}
.red-back {
  background-color: #e62249;
  color: #fff;
}
.green-back {
  background-color: #20BF55;
  color: #fff;
}
.purple-back {
  background-color: #5438DC;
  color: #fff;
}
.pink-back {
  background-color: #ED5F70;
  color: #fff;
}
.yellow-back {
  background-color: #FFC65F;
  color: #fff;
}

.circle {
  border-radius: 50%;
}

i.override {
  vertical-align: middle;
  font-size:14px;
  line-height: 1.8;
}

/* BUTTON STYLING */

.button-wrapper {
  text-align: center;
}

button {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #262835;
}

button:focus {
  outline: none;
}
